name: Forge Test

on:
  push:
    branches:
      - main
  pull_request:

env:
  RPC_1: ${{ secrets.RPC_1 }}

jobs:
  forge-test:
    name: Forge Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.0

      - name: Run Forge build
        run: forge build src --sizes
        id: build

      - name: Run Forge test
        run: forge test --isolate
        id: test
